////////////////////
// フォント設定
////////////////////

$font-japanese: "Noto Sans JP", serif;;
$font-english: "Viga", serif;
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $font-japanese;
}

// フォントウェイト
$regular: 300;
$normal: 400;
$bold: 700;