@use "../../global/" as g;

.c-hamburger {
  position: relative;
  background: #d54884;
  cursor: pointer;
  width: 52px;
  height: 52px;
  border-radius: 5px;
}

.c-hamburger span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  height: 2px;
  border-radius: 5px;
  background: #fff;
  width: 100%;
}

.c-hamburger span:nth-of-type(1) {
  top: 5px;
}

.c-hamburger span:nth-of-type(2) {
  top: 20px;
}

.c-hamburger span:nth-of-type(3) {
  top: 35px;
}

.c-hamburger span:nth-of-type(3)::after {
  content: "Menu";
  position: absolute;
  top: 9px;
  left: 50%;
  color: #fff;
  font-size: 0.6rem;
  text-transform: uppercase;
  transform: translateX(-50%);
}

.c-hamburger.active span:nth-of-type(1) {
  top: 14px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.c-hamburger.active span:nth-of-type(2) {
  opacity: 0;
}

.c-hamburger.active span:nth-of-type(3) {
  top: 26px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.c-hamburger.active span:nth-of-type(3)::after {
  content: "Close";
  transform: translateY(0) rotate(-45deg);
  top: 5px;
  left: 4px;
}
