.l-header.p-header
  .p-header__inner
    .p-header__left
      h1.p-header-logo.c-logo-w
        img(src=imgPath + "logo-w.png", alt="ロゴ")
    .p-header__right
      .p-header-btn-wrap
        a.p-header-btn.p-header-btn--black(href="#") 募集要項
        a.p-header-btn.p-header-btn--accent(href="#") entry
      .c-hamburger.p-header__hamburger
        span
        span
        span
